<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site/home/home.css">
    <link rel="stylesheet" href="site/brand/brand.css">
    <link rel="stylesheet" href="site/local stores/local.css">
    <link rel="stylesheet" href="site/product/product.css">
    <link rel="stylesheet" href="site/sign up/sign-up.css">
    <link rel="stylesheet" href="site/font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="site/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="site/home/grid.css">
    <link rel="stylesheet" href="site/home/responsive.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="grid wide">
            <div class="row">
                    <div class="header-top">
                        <div class="header-top-curr">
                            <h4>Currency: GBP</h4>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="header-top-log">
                            <h4 class="header-top-regis">Register</h4>
                            <h4 class="header-top-sign">Sign In</h4>
                        </div>
                            <div class="header-top-cart">
                                <i class="fas fa-cart-plus"></i>
                                <p>empty</p>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                    </div>
            </div>
        </div>
    </header>
    <nav class="slider-menu">
        <a href="/"><img src="/images/1-Home_03.jpg" alt="" id="slider-menu-logo"></a>
        <ul class="slider-menu-title hide-on-mobile-table hide-on-PC-low">
        </ul>
        <div class="slider-menu-form show-on-mobile-table hide-on-mobile">
            <input type="text" class="slider-menu-btn" placeholder="Search..">
            <i class="fas fa-search menu-icon-search"></i>
        </div>
    </nav>
    <div class="slider">
        <div class="slider-title">
            <h2 class="slider-title-main"><strong>welcome</strong> to Ave</h2>
        </div>
    </div>

    <main>
        <div class="grid wide">
            <div class="row">
                <div class="col l-12 m-12 c-12">
                    <h1 style="margin-left: 30%;">Đăng kí tài khoản thành công! <a href="/" style="margin-left: 15px;">Đăng nhập ngay!</a></h1>
                    
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="grid wide">
            <div class="row">
                <div class="col l-2-4 c-6">
                    <nav class="footer-info">
                        <h3 class="footer-info-title">Information</h3>
                        <ul class="footer-info-list">
                            <li>The brand</li>
                            <li>Local stores</li>
                            <li>Customer service</li>
                            <li>Privacy & cookies</li>
                            <li>Site map</li>
                        </ul>
                    </nav>
                </div>

                <div class="col l-2-4 c-6">
                    <nav class="footer-info">
                        <h3 class="footer-info-title">Why buy from us</h3>
                        <ul class="footer-info-list">
                            <li>Shipping & returns</li>
                            <li>Secure shopping</li>
                            <li>Testimonials</li>
                            <li>Award winning</li>
                            <li>Ethical trading</li>
                        </ul>
                    </nav>
                </div>

                <div class="col l-2-4 c-6">
                    <nav class="footer-info">
                        <h3 class="footer-info-title">Your account</h3>
                        <ul class="footer-info-list">
                            <li>Sign in</li>
                            <li>Register</li>
                            <li>View cart</li>
                            <li>View your lookbook</li>
                            <li>Track an order</li>
                            <li>Update infomation</li>
                        </ul>
                    </nav>
                </div>

                <div class="col l-2-4 c-6">
                    <nav class="footer-info">
                        <h3 class="footer-info-title">Lookbook</h3>
                        <ul class="footer-info-list">
                            <li>Latest posts</li>
                            <li>Men’s lookbook</li>
                            <li>Women’s lookbook</li>
                            <li>Lookbooks RSS feed</li>
                            <li>View your lookbook</li>
                            <li>Delete your lookbook</li>
                        </ul>
                    </nav>
                </div>

                <div class="col l-2-4 c-12">
                    <nav class="footer-info">
                        <h3 class="footer-info-title">contact details</h3>
                        <ul class="footer-info-list">
                            <li>Head Office: Avenue Fashion, <br> 180-182 Regent Street, London.</li>
                            <li style="margin-top: 15px; margin-bottom: 5px;">Telephone: 0123-456-789</li>
                            <li>Email: support@yourwebsite.com</li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row footer-img">
                <div class="col l-6 m-12 c-12">
                    <img src="site/images/11.jpg" alt="" class="footer-img-child">
                </div>

                <div class="col l-6 m-12 c-12">
                    <ul class="footer-social">
                        <li>
                            <i class="fab fa-facebook-f"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fas fa-camera-retro"></i>
                        </li>
                        <li>
                            <i class="fab fa-pinterest"></i>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="grid wide">
                <div class="footer-bottom-child">
                    <span>© 2016 Avenue Fashion™</span>
                    <div class="footer-bottom-left">
                        <span>Design by RobbyDesigns.com</span>
                        <span>Dev by Loremipsum.com</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="main.js"></script>
</body>
</html>