<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../home/home.css">
    <link rel="stylesheet" href="../brand/brand.css">
    <link rel="stylesheet" href="local.css">
    <link rel="stylesheet" href="../font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="../font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../home/grid.css">
    <link rel="stylesheet" href="../home/responsive.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="grid wide">
            <div class="row">
                    <div class="header-top">
                        <div class="header-top-curr">
                            <h4>Currency: GBP</h4>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="header-top-log">
                            <a href="../sign up/sing-up.html" class="sign-connect"><h4 class="header-top-regis">Register</h4></a>
                            <a href="../sign up/sing-up.html" class="sign-connect"><h4 class="header-top-sign">Sign In</h4></a>
                        </div>
                            <div class="header-top-cart">
                                <i class="fas fa-cart-plus"></i>
                                <p>empty</p>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                    </div>
            </div>
        </div>
    </header>
        <nav class="slider-menu">
            <a href="../home/home.html"><img src="../images/1-Home_03.jpg" alt="" id="slider-menu-logo"></a>
            <ul class="slider-menu-title hide-on-mobile-table hide-on-PC-low">
                <li>
                    Mens
                    <i class="ti-angle-down slider-menu-icon"></i>
                    <div class="menu-mens-child">
                        <div class="menu-mens-child-top">
                            <div class="mens-child-casuals">
                                <h4 class="mens-child-casuals-title">Casuals</h4>
                                <ul>
                                    <li class="mens-child-casuals-name">Jackets</li>
                                    <li class="mens-child-casuals-name">Hoodies & Sweatshirts</li>
                                    <li class="mens-child-casuals-name">Polo Shirts</li>
                                    <li class="mens-child-casuals-name">Sportswear</li>
                                    <li class="mens-child-casuals-name">Trousers & Chinos</li>
                                    <li class="mens-child-casuals-name">T-Shirts</li>
                                </ul>
                            </div>

                            <div class="mens-child-casuals">
                                <h4 class="mens-child-casuals-title">Formal</h4>
                                <ul>
                                    <li class="mens-child-casuals-name">Jackets</li>
                                    <li class="mens-child-casuals-name">Shirts</li>
                                    <li class="mens-child-casuals-name">Suits</li>
                                    <li class="mens-child-casuals-name">Trousers</li>
                                </ul>
                            </div>
                        </div>

                        <div class="menu-mens-child-img">
                            <img src="../images/sale.jpg" alt="">
                        </div>
                    </div>
                </li>
                <li>womens
                    <i class="ti-angle-down slider-menu-icon"></i>
                </li>
                <li>
                    <a href="../brand/brand.html" class="index-connect">the brand</a>
                    <i class="ti-angle-down slider-menu-icon"></i>
                </li>
                <li>local stores
                    <i class="ti-angle-down slider-menu-icon"></i>
                </li>
                <li>look book
                    <i class="ti-angle-down slider-menu-icon"></i>
                </li>
            </ul>
            <div class="slider-menu-form show-on-mobile-table hide-on-mobile">
                <input type="text" class="slider-menu-btn" placeholder="Search..">
                <i class="fas fa-search menu-icon-search"></i>
            </div>
        </nav>
        <div class="slider">
            <div class="slider-title">
                <h2 class="slider-title-main"><strong>Local</strong> stores</h2>
                <h4>Find a store near you</h4>
            </div>
        </div>

        <div class="local-body">
            <div class="local-body-place">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-4">
                            <div class="body-place-lonDon brand-body-left">
                                <h4 class="body-left-title">London</h4>
                                <h5 class="body-left-strong">180-182 Regent Street, London, W1B 5BT</h5>
                                <p class="body-left-text">Lorem ipsum dolor sit amet, consectetur adipiscing esi elit.They studied how airplane pilots performed after they took naps and when they did not nap. 
                                    NASA found that naps provided a 34% increase in pilot performance. Naps also provided a 100% increase in physiological alertness.
                                </p>
                                <button type="button" class="body-place-btn">view details</button>
                            </div>
                        </div>

                        <div class="col l-4">
                            <div class="body-place-lonDon brand-body-left">
                                <h4 class="body-left-title">New York</h4>
                                <h5 class="body-left-strong">109 Columbus Circle, New York, NY 10023</h5>
                                <p class="body-left-text">Even though a siesta might be helpful, it does not work for everyone. Some businesses do not let people stop working. 
                                    Some people live far from the city and cannot go home during the day. Other people use the time to do small personal errands or shopping.
                                </p>
                                <button type="button" class="body-place-btn">view details</button>
                            </div>
                        </div>

                        <div class="col l-4">
                            <div class="body-place-lonDon brand-body-left">
                                <h4 class="body-left-title">Paris</h4>
                                <h5 class="body-left-strong">2133 Rue Saint-Honoré, 75001 Paris</h5>
                                <p class="body-left-text">Siesta is a Spanish word. It means “nap” or short sleep. In this custom people sleep for a short time after eating their mid-day meal. 
                                    A sleep like this is often a tradition in places where it is very hot in the middle of the day. 
                                    People work in the morning and then rest.
                                </p>
                                <button type="button" class="body-place-btn">view details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="local-body-map">
                <div class="l-8 m-6 c-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.527447687169!2d105.83576851476369!3d21.051585885986057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abaca3542e9f%3A0x1deac90271e1fc0e!2zNzYgUGjhu5EgWcOqbiBIb2EsIFnDqm4gUGjhu6UsIFTDonkgSOG7kywgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1642925762932!5m2!1svi!2s" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
                </div>
                <div class="l-4 m-6 c-12">
                    <div class="map-info brand-body-left">
                        <h4 class="body-left-title map-info-country">London</h4>
                        <h5 class="body-left-strong">180-182 Regent Street, London, W1B 5BT</h5>
                        <span class="body-left-text">Lorem ipsum dolor sit amet, consectetur adipiscing esi elit.They studied how airplane pilots performed after they took naps and when they did not nap. 
                            NASA found that naps provided a 34% increase in pilot performance. Naps also provided a 100% increase in physiological alertness.
                        </span>
                        <ul class="map-info-list">
                            <li>
                                <i class="fas fa-map-marker-alt info-list-icon"></i>
                                <span class="body-left-text">180-182 Regent Street, London, W1B 5BT</span>
                            </li>
                            <li>
                                <i class="fas fa-phone info-list-icon"></i>
                                <span class="body-left-text">0123-456-789</span>
                            </li>
                            <li>
                                <i class="fab fa-google info-list-icon"></i>
                                <span class="body-left-text">www.yourwebsite.com</span>
                            </li>
                            <li>
                                <i class="fas fa-envelope info-list-icon"></i>
                                <span class="body-left-text">support@yourwebsite.com</span>
                            </li>
                            <li>
                                <i class="fas fa-clock info-list-icon"></i>
                                <span class="body-left-text">Monday-Friday: 9am to 6pm Saturday: 10am to 6pm</span>
                            </li>
                        </ul>

                        <ul class="map-info-social">
                            <li>
                                <i class="fab fa-facebook-f"></i>
                            </li>
                            <li>
                                <i class="fab fa-twitter"></i>
                            </li>
                            <li>
                                <i class="fas fa-camera-retro"></i>
                            </li>
                            <li>
                                <i class="fab fa-pinterest"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-2-4 c-6">
                        <nav class="footer-info">
                            <h3 class="footer-info-title">Information</h3>
                            <ul class="footer-info-list">
                                <li>The brand</li>
                                <li>Local stores</li>
                                <li>Customer service</li>
                                <li>Privacy & cookies</li>
                                <li>Site map</li>
                            </ul>
                        </nav>
                    </div>
    
                    <div class="col l-2-4 c-6">
                        <nav class="footer-info">
                            <h3 class="footer-info-title">Why buy from us</h3>
                            <ul class="footer-info-list">
                                <li>Shipping & returns</li>
                                <li>Secure shopping</li>
                                <li>Testimonials</li>
                                <li>Award winning</li>
                                <li>Ethical trading</li>
                            </ul>
                        </nav>
                    </div>
    
                    <div class="col l-2-4 c-6">
                        <nav class="footer-info">
                            <h3 class="footer-info-title">Your account</h3>
                            <ul class="footer-info-list">
                                <li>Sign in</li>
                                <li>Register</li>
                                <li>View cart</li>
                                <li>View your lookbook</li>
                                <li>Track an order</li>
                                <li>Update infomation</li>
                            </ul>
                        </nav>
                    </div>
    
                    <div class="col l-2-4 c-6">
                        <nav class="footer-info">
                            <h3 class="footer-info-title">Lookbook</h3>
                            <ul class="footer-info-list">
                                <li>Latest posts</li>
                                <li>Men’s lookbook</li>
                                <li>Women’s lookbook</li>
                                <li>Lookbooks RSS feed</li>
                                <li>View your lookbook</li>
                                <li>Delete your lookbook</li>
                            </ul>
                        </nav>
                    </div>
    
                    <div class="col l-2-4 c-12">
                        <nav class="footer-info">
                            <h3 class="footer-info-title">contact details</h3>
                            <ul class="footer-info-list">
                                <li>Head Office: Avenue Fashion, <br> 180-182 Regent Street, London.</li>
                                <li style="margin-top: 15px; margin-bottom: 5px;">Telephone: 0123-456-789</li>
                                <li>Email: support@yourwebsite.com</li>
                            </ul>
                        </nav>
                    </div>
                </div>
    
                <div class="row footer-img">
                    <div class="col l-6 m-12 c-12">
                        <img src="../images/11.jpg" alt="" class="footer-img-child">
                    </div>
    
                    <div class="col l-6 m-12 c-12">
                        <ul class="footer-social">
                            <li>
                                <i class="fab fa-facebook-f"></i>
                            </li>
                            <li>
                                <i class="fab fa-twitter"></i>
                            </li>
                            <li>
                                <i class="fas fa-camera-retro"></i>
                            </li>
                            <li>
                                <i class="fab fa-pinterest"></i>
                            </li>
                        </ul>
                    </div>
                </div>
    
            </div>
            <div class="footer-bottom">
                <div class="grid wide">
                    <div class="footer-bottom-child">
                        <span>© 2016 Avenue Fashion™</span>
                        <div class="footer-bottom-left">
                            <span>Design by RobbyDesigns.com</span>
                            <span>Dev by Loremipsum.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>